.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-content {
    width: 70%;
}

.pic-on-me {
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    border: 3px solid #000;
}

@media (max-width: 767px) {
    .pic-on-me {
        display: none;
    }
}
