@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik:wght@500&display=swap');

$rubrik-font: 'Rubik', sans-serif;
$text-font: 'Merriweather', serif;

$text-color: #333;
$background-color: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(43,166,225) 0%, rgba(43,109,224) 100.2% );
$content-color: #2BE0E0;
$footer-background: #2B34E0;
$li-color: #2B34E0;