@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Sanchez&display=swap');

$rubrik-font: 'Graduate', serif;
$text-font: 'Sanchez', serif;

$text-color: #fff;
$background-color: #000;
$content-color: #333;
$footer-background: #000;
$li-color: #888;