@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik:wght@500&display=swap');

$rubrik-font: 'Rubik', sans-serif;
$text-font: 'Merriweather', serif;

$text-color: #333;

$background-color: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );